In [1]:
import os
import pandas as pd
from glob import glob
import numpy as np

In [2]:
currpath = os.getcwd()

In [3]:
fulldf = None

for file in glob(currpath + "/data/live/*"):
    if "debug" not in file:
        df = pd.read_csv(file, engine="python")
        
        if fulldf is None:
            fulldf=df[:0]
            
        fulldf = pd.concat([fulldf, df])

In [5]:
fulldf['Time'] = pd.to_datetime(fulldf['Time'], errors='coerce')

TypeError: 'NoneType' object is not subscriptable

In [6]:
fulldf = fulldf.sort_values('Time').dropna(subset=['Time']).drop('Unnamed: 0', axis=1).reset_index(drop=True) #subset='time' is there because for tweets, in response to is NaN

AttributeError: 'NoneType' object has no attribute 'sort_values'

In [108]:
fulldf.groupby('response_type').count()

,ID,Tweet,Time,User,Likes,Replies,Retweets,in_response_to,coinname
response_type,,,,,,,,,
quoted_retweet,9438,9438,9438,9438,9438,9438,9438,9438,9438
reply,11196,11196,11196,11196,11196,11196,11196,11196,11196
retweet,111417,111417,111417,111417,111417,111417,111417,111417,111417
tweet,79157,79157,79157,79157,79157,79157,79157,0,79157

In [6]:
live_profile = pd.read_csv('data/profiledata/live/1530498566_1530498581.csv')

In [7]:
live_profile

,Unnamed: 0,username,created,location,has_location,is_verified,total_tweets,total_following,total_followers,total_likes,has_avatar,has_background,is_protected,profile_modified
0,0,atx286,2009-11-30,Atras de ti... behind you!,1,0,20689,925,436,1533,1,1,0,1
1,1,POTUS_C137,2015-04-17,0,0,0,125,138,74,538,1,0,0,1
2,2,buivietthai7,2018-06-05,0,0,0,7,51,1,5,1,1,0,1
3,3,TingTong197,2018-03-22,0,0,0,3311,6991,6697,2351,1,1,0,1
4,4,princebridge7,2017-10-30,0,0,0,2531,4606,2524,2485,1,1,0,1
5,5,collegeappspec,2017-02-25,0,0,0,207,241,28,101,1,0,0,1
6,6,4Janvisingh,2017-09-27,0,0,0,297,108,58,331,1,1,0,1
7,7,CryptoMessiah,2014-07-29,0,0,0,24568,430,55810,20519,1,0,0,1
8,8,zenuxerofficial,2015-09-11,"Kota Probolinggo, East Java",1,0,5705,4913,1744,3926,1,1,0,1
9,9,IndGiffie,2017-10-29,0,0,0,67,1,269,58,1,1,0,1
10,10,DangVinhHung2,2018-07-01,0,0,0,115,139,0,47,0,1,0,1
11,11,Twefmil_Crypto,2018-03-08,0,0,0,231,262,56,183,1,1,0,1
12,12,Jash5200,2017-08-21,0,0,0,132,259,29,46,1,1,0,1
13,13,JamesJe65927239,2015-10-09,0,0,0,3712,616,236,3807,1,1,0,1
14,14,BBt22111995,2018-04-23,0,0,0,7,2,36,6,1,1,0,1
15,15,SapphireAtlas98,2017-10-22,0,0,0,1920,49,24,56,1,0,0,1
16,16,maxitremblay,2010-12-23,0,0,0,2813,1210,553,2041,1,0,0,1
17,17,AlexAthlete86,2017-09-18,0,0,0,7033,10195,9425,4795,1,1,0,1
18,18,NguyenX40874982,2018-06-17,0,0,0,43,69,3,18,0,1,0,1
19,19,DinabandhuNay20,2017-08-16,0,0,0,45742,717,289,68305,1,1,0,1
20,20,LadySunshineNM,2010-01-17,Albuquerque NM,1,1,1454,1133,7011,156,1,1,0,1
21,21,BrandonADee,2013-01-17,0,0,0,1666,105,61,249,1,1,0,1
22,22,ageofbits,2018-06-08,0,0,0,1,60,8,0,1,1,0,1
23,23,FoxHODL,2017-11-02,0,0,0,10545,83,213,5,1,1,0,1
24,24,JefferyVargas15,2018-07-02,0,0,0,1,0,0,0,0,1,0,1
25,25,RealBryGuy,2010-12-12,0,0,0,9886,579,237,1594,1,1,0,1
26,26,ZYL5_,2012-12-19,0,0,0,926,23,14,1555,1,1,0,1
27,27,haydentiff,2014-07-25,0,0,1,64625,12229,68320,72025,1,0,0,1
28,28,lowstrife,2014-03-28,0,0,0,1840,126,13772,1238,1,1,0,1

In [4]:
from historic_utils import historicDownloader, historicUtils
from datetime import date, datetime, timedelta
from dateutil.relativedelta import relativedelta
import logging

%load_ext autoreload
%autoreload 2

In [5]:
logger = logging.getLogger()
logger.setLevel(logging.INFO)

datetime.date(2018, 7, 3)

In [25]:
keywords = {'bitcoin': ['bitcoin', 'BTC'], 'dashcoin': ['dashcoin', 'DASH', 'darkcoin'], 'dogecoin': ['dogecoin', 'DOGE'], 'ethereum': ['ethereum', 'ETH'], 'litecoin': ['litecoin', 'LTC'], 'ripple': ['ripple', 'XRP'], 'monero': ['monero', 'XMR'], 'stellar': ['stellar', 'STR']}

keywordsAll = [value for key, values in keywords.items()
                       for value in values]

starting = (datetime.now() - timedelta(hours=6)).date()
ending = datetime.now().date() + timedelta(days=1)

detailsList = []

for key, values in keywords.items():
    detailsList.append({'keyword': ' OR '.join(values), 'coinname': key, 'start': starting, 'end': ending})

In [26]:
detailsList

[{'coinname': 'dashcoin',
  'end': datetime.date(2018, 7, 5),
  'keyword': 'dashcoin OR DASH OR darkcoin',
  'start': datetime.date(2018, 7, 4)},
 {'coinname': 'ethereum',
  'end': datetime.date(2018, 7, 5),
  'keyword': 'ethereum OR ETH',
  'start': datetime.date(2018, 7, 4)},
 {'coinname': 'stellar',
  'end': datetime.date(2018, 7, 5),
  'keyword': 'stellar OR STR',
  'start': datetime.date(2018, 7, 4)},
 {'coinname': 'litecoin',
  'end': datetime.date(2018, 7, 5),
  'keyword': 'litecoin OR LTC',
  'start': datetime.date(2018, 7, 4)},
 {'coinname': 'bitcoin',
  'end': datetime.date(2018, 7, 5),
  'keyword': 'bitcoin OR BTC',
  'start': datetime.date(2018, 7, 4)},
 {'coinname': 'ripple',
  'end': datetime.date(2018, 7, 5),
  'keyword': 'ripple OR XRP',
  'start': datetime.date(2018, 7, 4)},
 {'coinname': 'dogecoin',
  'end': datetime.date(2018, 7, 5),
  'keyword': 'dogecoin OR DOGE',
  'start': datetime.date(2018, 7, 4)},
 {'coinname': 'monero',
  'end': datetime.date(2018, 7, 5),
  'keyword': 'monero OR XMR',
  'start': datetime.date(2018, 7, 4)}]

In [27]:
hu = historicUtils(detailsList)
hu.delete_files()

Deleting /home/shresthanikesh23/jupyter/CryptoTraderRemote/CryptoTrader/data_utils/twitter_data/data/dashcoin/extracted/2018-07-03.csv
Deleting /home/shresthanikesh23/jupyter/CryptoTraderRemote/CryptoTrader/data_utils/twitter_data/data/ethereum/extracted/2018-07-03.csv
Deleting /home/shresthanikesh23/jupyter/CryptoTraderRemote/CryptoTrader/data_utils/twitter_data/data/stellar/extracted/2018-07-03.csv
Deleting /home/shresthanikesh23/jupyter/CryptoTraderRemote/CryptoTrader/data_utils/twitter_data/data/litecoin/extracted/2018-07-03.csv
Deleting /home/shresthanikesh23/jupyter/CryptoTraderRemote/CryptoTrader/data_utils/twitter_data/data/bitcoin/extracted/2018-07-03.csv
Deleting /home/shresthanikesh23/jupyter/CryptoTraderRemote/CryptoTrader/data_utils/twitter_data/data/ripple/extracted/2018-07-03.csv
Deleting /home/shresthanikesh23/jupyter/CryptoTraderRemote/CryptoTrader/data_utils/twitter_data/data/dogecoin/extracted/2018-07-03.csv
Deleting /home/shresthanikesh23/jupyter/CryptoTraderRemote/CryptoTrader/data_utils/twitter_data/data/monero/extracted/2018-07-03.csv

In [28]:
hd = historicDownloader(detailsList, logger=logger)

In [29]:
hd.perform_scraping()

INFO:root:Scraping dashcoin Data
INFO:root:Starting Year: 2018 Ending Year: 2018
INFO:root:Current Starting Date:2018-07-04 Current Ending Date:2018-07-05
INFO:root:Querying dashcoin OR DASH OR darkcoin since:2018-07-04 until:2018-07-05
INFO:root:Got 94 tweets for dashcoin%20OR%20DASH%20OR%20darkcoin%20since%3A2018-07-04%20until%3A2018-07-05.
INFO:root:Got 94 tweets (94 new).
INFO:root:Scraping ethereum Data
INFO:root:Starting Year: 2018 Ending Year: 2018
INFO:root:Current Starting Date:2018-07-04 Current Ending Date:2018-07-05
INFO:root:Querying ethereum OR ETH since:2018-07-04 until:2018-07-05
INFO:root:Got 66 tweets for ethereum%20OR%20ETH%20since%3A2018-07-04%20until%3A2018-07-05.
INFO:root:Got 66 tweets (66 new).
INFO:root:Scraping stellar Data
INFO:root:Starting Year: 2018 Ending Year: 2018
INFO:root:Current Starting Date:2018-07-04 Current Ending Date:2018-07-05
INFO:root:Querying stellar OR STR since:2018-07-04 until:2018-07-05
INFO:root:Got 122 tweets for stellar%20OR%20STR%20since%3A2018-07-04%20until%3A2018-07-05.
INFO:root:Got 122 tweets (122 new).
INFO:root:Scraping litecoin Data
INFO:root:Starting Year: 2018 Ending Year: 2018
INFO:root:Current Starting Date:2018-07-04 Current Ending Date:2018-07-05
INFO:root:Querying litecoin OR LTC since:2018-07-04 until:2018-07-05
INFO:root:Got 78 tweets for litecoin%20OR%20LTC%20since%3A2018-07-04%20until%3A2018-07-05.
INFO:root:Got 78 tweets (78 new).
INFO:root:Scraping bitcoin Data
INFO:root:Starting Year: 2018 Ending Year: 2018
INFO:root:Current Starting Date:2018-07-04 Current Ending Date:2018-07-05
INFO:root:Querying bitcoin OR BTC since:2018-07-04 until:2018-07-05
INFO:root:Got 263 tweets for bitcoin%20OR%20BTC%20since%3A2018-07-04%20until%3A2018-07-05.
INFO:root:Got 263 tweets (263 new).
INFO:root:Scraping ripple Data
INFO:root:Starting Year: 2018 Ending Year: 2018
INFO:root:Current Starting Date:2018-07-04 Current Ending Date:2018-07-05
INFO:root:Querying ripple OR XRP since:2018-07-04 until:2018-07-05
INFO:root:Got 142 tweets for ripple%20OR%20XRP%20since%3A2018-07-04%20until%3A2018-07-05.
INFO:root:Got 142 tweets (142 new).
INFO:root:Scraping dogecoin Data
INFO:root:Starting Year: 2018 Ending Year: 2018
INFO:root:Current Starting Date:2018-07-04 Current Ending Date:2018-07-05
INFO:root:Querying dogecoin OR DOGE since:2018-07-04 until:2018-07-05
INFO:root:Got 100 tweets for dogecoin%20OR%20DOGE%20since%3A2018-07-04%20until%3A2018-07-05.
INFO:root:Got 100 tweets (100 new).
INFO:root:Scraping monero Data
INFO:root:Starting Year: 2018 Ending Year: 2018
INFO:root:Current Starting Date:2018-07-04 Current Ending Date:2018-07-05
INFO:root:Querying monero OR XMR since:2018-07-04 until:2018-07-05
INFO:root:Got 78 tweets for monero%20OR%20XMR%20since%3A2018-07-04%20until%3A2018-07-05.
INFO:root:Got 78 tweets (78 new).