In [65]:
import os
import pandas as pd
from glob import glob
import numpy as np

In [2]:
currpath = os.getcwd()

In [97]:
fulldf = None

for file in glob(currpath + "/data/live/*"):
    if "debug" not in file:
        df = pd.read_csv(file, engine="python")
        
        if fulldf is None:
            fulldf=df[:0]
            
        fulldf = pd.concat([fulldf, df])

In [99]:
fulldf['Time'] = pd.to_datetime(fulldf['Time'], errors='coerce')

In [101]:
fulldf = fulldf.sort_values('Time').dropna(subset=['Time']).drop('Unnamed: 0', axis=1).reset_index(drop=True) #subset='time' is there because for tweets, in response to is NaN

In [108]:
fulldf.groupby('response_type').count()

,ID,Tweet,Time,User,Likes,Replies,Retweets,in_response_to,coinname
response_type,,,,,,,,,
quoted_retweet,9438,9438,9438,9438,9438,9438,9438,9438,9438
reply,11196,11196,11196,11196,11196,11196,11196,11196,11196
retweet,111417,111417,111417,111417,111417,111417,111417,111417,111417
tweet,79157,79157,79157,79157,79157,79157,79157,0,79157